<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Power Play USA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <header class="header">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#"><img src="https://i.postimg.cc/kM8mwNRw/Power-Play-Usa-1-removebg-preview-1.png" height="45%" width="45%" alt="Logo"></a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link" href="#">Profile</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Your State
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">State Capitol</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Primaries</a></li>
                              <li><a class="dropdown-item" href="#">Elections</a></li>
                            </ul>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            The United States
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">The United States</a></li>
                              <li><a class="dropdown-item" href="#">White House</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">U.S. Map</a></li>
                              <li><a class="dropdown-item" href="#">Incumbent Map</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Presidential Primaries</a></li>
                              <li><a class="dropdown-item" href="#">Presidential Elections</a></li>
                            </ul>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Congress
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Senate</a></li>
                              <li><a class="dropdown-item" href="#">House of Representatives</a></li>
                              <li><a class="dropdown-item" href="#">Supreme Court</a></li>
                            </ul>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Party
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Political Parties</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Your Party</a></li>
                              <li><a class="dropdown-item" href="#">Party Elections</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Your Caucus</a></li>
                              <li><a class="dropdown-item" href="#">Caucus Elections</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
    </header>
    <main class="ppusa-main container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="container my-5">
                    <div class="p-5 text-center bg-body-tertiary rounded-3 ppusa-title-card-bg">
                    <br>
                    <br>
                    <h1 class="text-body-emphasis"><strong>Power Play USA</strong></h1>
                    <br>
                    <p class="col-lg-8 mx-auto fs-5 text-dark">
                    The year is 1960. The world stands on the brink of nuclear warfare. A brutal conflict rages in Vietnam. The country finds itself torn in half over segregation.
                    </p>
                    <h4 class="text-dark">American history stand to be shaped by your actions.</h4>
                    <br>
                    <div class="d-inline-flex gap-2 mb-5">
                      <a class="d-inline-flex align-items-center btn btn-light ppusa-accent-color px-4 rounded-pill" type="button" href="/create_politician">
                        Register
                    </a>
                    <a class="btn btn-primary text-light ppusa-accent-color-login px-4 rounded-pill" type="button" href="/login">
                        Login
                    </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="container px-4 py-5" id="featured-3">
              <h2 class="pb-2 border-bottom">World's Greatest 20th Century Political Simulation Game</h2>
              <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                  <div class="feature-icon d-inline-flex align-items-center justify-content-center">
                    <i class="bi bi-person-circle" style="font-size: 3rem; color: rgb(0, 170, 255)"></i>
                  </div>
                  <h3 class="fs-2 text-body-emphasis">Create Your Political Story</h3>
                  <p>Power Play USA offers players the opportunity to forge their own historical political career. Choose your politician's name, appearance, personal characteristics, and political views. Become a congressman, senator, governor, Supreme Court justice, or reach for the nation's highest office, president.</p>
                </div>
                <div class="feature col">
                  <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                    <i class="bi bi-bank2" style="font-size: 3rem; color: rgb(0, 170, 255)"></i>
                  </div>
                  <h3 class="fs-2 text-body-emphasis">Participate In American Government</h3>
                  <p>Power Play USA has full functionality for all elected offices. As a governor, shift states towards the positions of your party. As a senator and a representative, pass legislation to change America's political climate. As a justice, decide on the constitutionality of new laws. As a president, sign and veto legislation, and appoint cabinet officials to aid you. Every action has in game consequences, which serve to shape future eras.</p>
                </div>
                <div class="feature col">
                  <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                    <i class="bi bi-chat-square-text-fill" style="font-size: 3rem; color: rgb(0, 170, 255)"></i>
                  </div>
                  <h3 class="fs-2 text-body-emphasis">Experience Partisan Politics</h3>
                  <p>Power Play USA abandons the traditional two party system, opting instead for a three party system that better represents historic political divisions. Players can join any of the three parties, run for leadership, receive funding in races, and interact with a thriving Discord community. The game also offers the ability to create custom caucuses, furthering cooperation between members of the same party.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </main>
    <hr>
    <footer class="py-5 container">
      <div class="row">
        <div class="col-6 col-md-3 mb-3">
          <h5>Technical</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Player Settings</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Account Settings</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Patreon</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Walkthrough</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-3 mb-3">
          <h5>Legal</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Rules</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Terms and Conditions</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Wiki</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Social Media</a></li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h4>Get updated on our progress</h4>
            <p>Power Play USA is still in alpha testing. We are constantly adding new features, some of which require game resets. To stay informed, sign up for our newsletter below.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <a class="btn btn-primary text-light ppusa-accent-color-login" type="button" href="#">Subscribe</a>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <span class="text-primary">
          Created by <i class="bi bi-rocket-takeoff"></i> <a href="#">Oof</a> (@doctorsus), <a href="#">lil769</a> (@lil.1776), <i class="bi bi-currency-bitcoin"></i> <a href="#">Brian</a> (@brianthebozo), and <a href="#">bozoman</a> (@bozoman#1910).
          <br>
          This website was made with the help of ChatGPT and the Bootstrap framework.
        </span>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-body-emphasis" href="https:/discord.gg/Z6tBCTQNmw"><i class="bi bi-discord" style="font-size: 2rem;"></i></a></li>
       </ul>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/Sdist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>