<!DOCTYPE html>
<html>
<head>
    <title>{{ state.name }} Primary Polls</title>
</head>
<body>
    <h1>{{ state.name }} Primary Polls</h1>
    <p><a href="{{ url_for('electionstate', state_id=state.id) }}">Back</a></p>
    <p><a href="{{ url_for('partyelections', state_id=state.id, party='republican') }}">Republican Party</a></p>
    <p><a href="{{ url_for('partyelections', state_id=state.id, party='libertarian') }}">Libertarian Party</a></p>
    <p><a href="{{ url_for('partyelections', state_id=state.id, party='democrat') }}">Democrat Party</a></p>
    <p><a href="{{ url_for('partyelections', state_id=state.id, party='socialist') }}">Socialist Party</a></p>
</body>
</html>
